.MenuOpt {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
}

/* Linha */
.MenuOpt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 3px solid #e2ba49;

    /* animação */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in, transform-origin 0s 0.35s;
}

/* Hover */
.MenuOpt:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

/* Animação Fadein */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}