html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
}

.LogoIMG {
    height: 80px;
    margin: 20px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to bottom, #000, #0b4625); */
    background-color: #1a1a1a;
    box-shadow: 0 10px 4px #1a1a1a;
    padding: 0 50px;
    position: relative;
}

.Menu {
    display: flex;
    list-style: none;
}

.MenuOpt {

    padding: 0 5px -5px 5px;
    margin: 0 10px;
    color: white;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.MenuOpt>a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.Banner {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(IMG/TempBanner.png);
    box-shadow: 0 3px 5px #000000;
}

.BannerInfo {
    font-family: 'Farsan' !important;
    width: 700px;
    color: white;
}


.BannerText>h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 20px 0;
}

.BannerText>p {
    font-size: 30px;
    font-weight: 200;
    margin: 20px 0;
}

.BannerInfo>a {
    font-size: 30px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    /* background: linear-gradient(135deg, #d4bc6b 0%, #e2ba49 40%, #c89d2f 60%, #9f7a1f 100%); */
    background-color: #c89d2f;
    
}

.BannerBTN {
    margin: 10px 0;
}

.SobreNos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Historia {
    width: 1400px;
    text-align: center;
    margin: 50px;
}

.Historia>h1 {
    margin-bottom: 50px;
    font-weight: 400;
}

.Historia>p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
}

.Video {
    width: 100%;
    padding-bottom: 50px;
}

.VIDApresentacao {
    height: 550px;
    width: auto;
    box-shadow: 0px 0px 20px gray;
}

/* Estilo Carrossel */

.carrosel {
    width: 70%;
    display: flex;
    overflow-x: auto;
    gap: 1em;
    margin-bottom:50px;
    box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, .4);
}

.carrosel::-webkit-scrollbar {
    display: none;
}

.grupo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;

}

.card {
    flex: 0 0 5em;
    height: 5em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.carroselimg {
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {
        translete: 0;
    }

    to {
        translate: -100%;
    }
}

.contatenos {
    display: flex;
    justify-content: center;
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
}

.InpContatenos {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.InpContatenos>.inpContato {
    display: inline-block;
    padding: 20px;
    width: 80%;
    margin: 10px 0;
}

.btnEnviar {
    padding: 20px 50px;
}

.InpMensagem {
    height: 300px;
}

.RedesSociais {
    font-family: 'Roboto';
    text-align: center;
    margin: 50px 0;
}

.RedesSociais>h1 {
    font-size: 40px;
    font-weight: 200;
}

.Rede{
    text-align: left;
    margin: 20px;
    font-weight: 200;
}
.Rede > p > a{
    text-decoration: none;
    color: white;
}

.Rede>p{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 25px;
    text-align: left;
    font-weight: 200;
}

.SocialIco{
    font-size: 40px;
}